.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

header {
  padding: 60px;
  text-align: center;
  background: #eb9650;
  color: white;
}

.Layout-nav{
  text-align: center;
margin: 0;
}
.Layout-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.Layout-li {
  float: left;

}
.Layout-Link{
  color:white;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 16px;
}
.Layout-Link:hover {
  background-color: rgb(219, 109, 18);
  color: black;
}
.Layout-Link.active {
  background-color: #04AA6D;
  color: white;
}
.Layout-searchBar{
   overflow: hidden;
}

.Layout-searchBar input[type=text]{
  float: right;
  padding: 6px;
  /* border: none; */
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
  border: 1px solid #ccc;
}